# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# macOS
.DS_Store

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# TensorFlow
*.h5